NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
FORTNITE_API_BASE_URL=https://fortnite-api.com/v2
FNSHOP_API_BASE_URL=https://fnitem.shop/api/v3/service
FNSHOP_API_KEY=
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_WEBHOOK_SECRET=
CRON_SECRET=
BANK_NAME=
BANK_BENEFICIARY=
BANK_CLABE=
